/.metadata/
/bnbfinder/src/main/resources/static/utility.jar
/bnbfinder/target/m2e-wtp/web-resources/META-INF/maven/com.project/bnbfinder/pom.properties
*.properties
bnbfinder/target/m2e-wtp/web-resources/META-INF/maven/com.project/bnbfinder/pom.properties

